.title{
    color: #5b9bd5;
    font-size: 15px;
    font-weight: bold;
}

.nexttitle{
    color: #f37d31;
    font-size: 14px;
    font-weight: bold;
}

.lasttitle{
    font-weight: bold;

}