<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>预览</title>
    <link href="{{ url_for('static', filename='css/document.css') }}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="/static/jquery-3.1.1/jquery-3.1.1/jquery-3.1.1.js"></script>
    <script>
        function document1(){
            var title=document.getElementById("title").innerHTML;
            $.ajax({
                type: 'POST',
                url: "/document",
                success: function () {
                    window.location.href='http://47.106.83.33:8080/'+title+'.docx';
                }
            });
        }

    </script>
</head>
<body>
    <form type="submit" method="post">
            <button class="btn btn-info" onclick="document1()">文档导出</button>
    </form>
    <div style="margin:0 auto; width: 1000px; " >
        <h2 id="title" style="text-align: center" >{{ institution_info['school_name'] }}科研简报{{ institution_info['institution_name'] }}{{ institution_info['date'] }}</h2>
        <table class="table table-bordered" style="width: 800px; border: 1px solid black; margin:auto;" >
            <tr>
                <td colspan="2" class="title">一、院系概况</td>
            </tr>
            <tr>
                <td class="nexttitle">国家重点学科</td>
                <td class="nexttitle">评价</td>
            </tr>
            {% for keys in institution_info['maindis'] %}
                <tr>
                    <td>{{ keys }}</td>
                    <td>{{ institution_info['maindis'][keys] }}</td>
                </tr>
            {% endfor %}
            <tr><td colspan="2" class="nexttitle">科研平台</td></tr>
            <tr><td colspan="2">
                {% if institution_info['mainlab']|length > 0 %}
                    {% for i in institution_info['mainlab'] %}
                        {{ i }}<br>
                    {% endfor %}
                {% else %}
                    &nbsp;
                {% endif %}
            </td></tr>
        <tr><td colspan="5" class="title">二、科研团队</td></tr>
        </table>

        {% if team|length > 0 %}
            {% for i in team %}

                <table class="table table-bordered" style="margin:auto; width: 800px; border: 1px solid black">
                    <tr>
                        <td colspan="5" class="nexttitle">项目成员</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="lasttitle">领军人物</td>
                        <td colspan="3">
                            {{ i['head_name'] }}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="lasttitle">院士</td>
                        <td colspan="3">
                            {% if i['academician_list']|length > 0 %}
                                {% for j in i['academician_list'] %}
                                    {{ j }}&nbsp;
                                {% endfor %}
                                {% else %}
                                    &nbsp;
                             {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="lasttitle">长江学者</td>
                        <td colspan="3">
                            {% if i['changjiang_list']|length > 0 %}
                                {% for j in i['changjiang_list'] %}
                                    {{ j }}&nbsp;
                                {% endfor %}
                                {% else %}
                                    &nbsp;
                             {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="lasttitle">杰出青年</td>
                        <td colspan="3">
                            {% if i['outyouth_list']|length > 0 %}
                                {% for j in i['outyouth_list'] %}
                                    {{ j }}&nbsp;
                                {% endfor %}
                                {% else %}
                                    &nbsp;
                             {% endif %}

                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="lasttitle">其他成员</td>
                        <td colspan="3">
                            {% if i['other_list']|length > 0 %}
                                {% for j in i['other_list'] %}
                                    {{ j }}&nbsp;
                                {% endfor %}
                                {% else %}
                                    &nbsp;
                             {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" class="nexttitle">团队研究方向</td>
                    </tr>
                    <tr>
                        <td colspan="5" class="lasttitle">{{ i['team_direction'] }}&nbsp;</td>
                    </tr>
                    <tr><td colspan="5" class="nexttitle">项目成果</td></tr>
                    <tr><td colspan="5" class="lasttitle">论文成果</td></tr>
                    <tr><td colspan="5">
                        {% if i['paper']|length > 0 %}
                            {% for k in i['paper'] %}
                                《{{ k }}》<br>
                            {% endfor %}
                        {% else %}
                             &nbsp;
                        {% endif %}
                    </td></tr>
                    <tr><td colspan="5" class="lasttitle">专利成果</td></tr>
                    <tr><td colspan="5">
                        {% if i['invention']|length > 0 %}
                            {% for k in i['invention'] %}
                                《{{ k }}》<br>
                            {% endfor %}
                        {% else %}
                             &nbsp;
                        {% endif %}
                    </td></tr>
                    <tr><td colspan="5" class="lasttitle">获奖成果</td></tr>
                    <tr><td colspan="5">
                        {% if i['award']|length > 0 %}
                            {% for k in i['award'] %}
                                {{ k }} <br>
                            {% endfor %}
                        {% else %}
                             &nbsp;
                        {% endif %}
                    </td></tr>
                </table>
            {% endfor %}
        {% endif %}
    </div>
</body>
</html>