<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>院士名单</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<table class="table table-hover" style="width: 350px; height: 30px; ">
    {% if teacher_name %}
    <tr>
        <td style="font-weight: bold">院士名单</td>
    </tr>
    {% for i in teacher_name %}
        {% if i|length > 1 %}
            <tr>
                <td>{{ i }}</td>
            </tr>
        {% endif %}
    {% endfor %}
    {% endif %}

    {% if teacher %}
    <tr>
        <td style="font-weight: bold">院士姓名</td>
        <td style="font-weight: bold">所属院系</td>
    </tr>
    {% for i in teacher %}
    {% if i %}
        <tr>
            <td>{{ i[0] }}</td>
            <td>{{ i[1] }}</td>
        </tr>
    {% endif %}
    {% endfor %}
    {% endif %}
</table>
</body>
</html>